{% extends "ESPSchoolStructureBundle::layout.html.twig" %}

{% block innerDepartment %}
 <li class="active dropdown">

    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Départements <span class="caret"></span></a>
    <ul class="dropdown-menu">
        <li class="active">
                <a href="{{ path('esp_schoolstructure_admin_department_viewAll') }}">Liste des départements</a>
        </li>
        <li>
                        <a href="#">Consulter un département</a>
                    </li>
                    <li>
                        <a href="{{ path('esp_schoolstructure_admin_department_create') }}">Ajouter un département</a>
                    </li>
                    <li>
                        <a href="#">Modifier un département</a>
                    </li>
                    <li>
                        <a href="#">Supprimer un département</a>
                    </li>
                
                </ul>
                </li>
            {% endblock %}

{% block innerCycle %}
<li class="dropdown">

<a href="#" class="dropdown-toggle" data-toggle="dropdown"> Cycle <span class="caret"></span></a>
<ul class="dropdown-menu">
    <li>
        <a href="{{ path('esp_user_admin_departmentChief_viewAll') }}">Liste des Cycles</a>
    </li>
    <li>
                        <a href="#">Consulter un cycle</a>
                    </li>
    <li>
        <a href="{{ path('esp_user_admin_departmentChief_create') }}">Ajouter un cycle</a>
    </li>
    <li>
        <a href="{{ path('esp_user_admin_departmentChief_update') }}">Modifier un cycle</a>
    </li>
    <li>
        <a href="{{ path('esp_user_admin_departmentChief_delete') }}">Supprimer un cycle</a>
    </li>

</ul>
</li>
{% endblock %}

{% block innerClass %}
<li class="dropdown">

<a href="#" class="dropdown-toggle" data-toggle="dropdown"> Classes <span class="caret"></span></a>
<ul class="dropdown-menu">
    <li>
        <a href="#">Liste des classes</a>
    </li>
    <li>
                        
        <a href="#">Consulter une classe</a>
    </li>
    <li>
        <a href="#">Ajouter une classe</a>
    </li>
    <li>
        <a href="#">Modifier une classe</a>
    </li>
    <li>
        <a href="#">Supprimer une classe</a>
    </li>

</ul>
</li>
{% endblock %}

{% block innerGroup %}
<li class="dropdown">

<a href="#" class="dropdown-toggle" data-toggle="dropdown"> Groupes <span class="caret"></span></a>
<ul class="dropdown-menu">
    <li>
        <a href="#">Liste des groupes</a>
    </li>
    <li>
                        <a href="#">Consulter un groupe</a>
                    </li>
    <li>
        <a href="#">Ajouter un groupe</a>
    </li>
    <li>
        <a href="#">Modifier un groupe</a>
    </li>
    <li>
        <a href="#">Supprimer un groupe</a>
    </li>

</ul>
</li>
{% endblock %}

{% block body %}
{{ parent() }}

<h2>Liste des départements</h2>
    <hr>
   
    <br/>
   
    {% if departments is not empty %}     
    <table class="table table-hover table-bordered">
        {% for department in departments %}
        <tr>
            <td> Nom : {{department.name}}</td>
            <td class="text-center"> <a href="{{path('esp_schoolstructure_admin_department_view', {'id': department.id})}}" class="btn btn-default">Consulter </a> </td>
            <td class="text-center"> <a href="{{path('esp_schoolstructure_admin_department_update', {'id': department.id})}}" class="btn btn-warning">Modifier </a> </td>
            <td class="text-center"> <a href="{{path('esp_schoolstructure_admin_department_delete', {'id': department.id})}}" class="btn btn-danger">Supprimer </a> </td>
        </tr>
        {% endfor %}
    </table>

    {% else %}  

            <p class="jumbotron">
                La liste est vide!
            </p>

    {% endif %}

{% endblock %}


