{% extends "ESPSchoolStructureBundle::layout.html.twig" %}

{% block innerDepartment %}
 <li class="dropdown">

    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Départements <span class="caret"></span></a>
    <ul class="dropdown-menu">
            <li>
                <a href="{{ path('esp_schoolstructure_admin_department_viewAll') }}">Liste des départements</a>
            </li>
            <li>
                <a href="#">Consulter un département</a>
            </li>
            <li>
                <a href="{{ path('esp_schoolstructure_admin_department_create') }}">Ajouter un département</a>
            </li>
            <li>
                <a href="{{ path('esp_schoolstructure_admin_department_viewAll') }}">Modifier un département</a>
            </li>
            <li>
                <a href="{{ path('esp_schoolstructure_admin_department_viewAll') }}">Supprimer un département</a>
            </li>
                
    </ul>
</li>

{% endblock %}

{% block innerCycle %}
<li class="active dropdown">

<a href="#" class="dropdown-toggle" data-toggle="dropdown"> Cycle <span class="caret"></span></a>
<ul class="dropdown-menu">
    <li>
        <a href="{{ path('esp_schoolstructure_admin_cycle_viewAll') }}">Liste des Cycles</a>
    </li>
    <li class="active">
        <a href="{{ path('esp_schoolstructure_admin_cycle_viewAll') }}">Consulter un cycle</a>
    </li>
    <li>
        <a href="{{ path('esp_schoolstructure_admin_cycle_create') }}">Ajouter un cycle</a>
    </li>
    <li>
        <a href="{{ path('esp_schoolstructure_admin_cycle_viewAll') }}">Modifier un cycle</a>
    </li>
    <li>
        <a href="{{ path('esp_schoolstructure_admin_cycle_viewAll') }}">Supprimer un cycle</a>
    </li>

</ul>
</li>
{% endblock %}

{% block innerClass %}
<li class="dropdown">

<a href="#" class="dropdown-toggle" data-toggle="dropdown"> Classes <span class="caret"></span></a>
<ul class="dropdown-menu">
    <li>
        <a href="#">Liste des classes</a>
    </li>
    <li>
                        
        <a href="#">Consulter une classe</a>
    </li>
    <li>
        <a href="#">Ajouter une classe</a>
    </li>
    <li>
        <a href="#">Modifier une classe</a>
    </li>
    <li>
        <a href="#">Supprimer une classe</a>
    </li>

</ul>
</li>
{% endblock %}

{% block innerGroup %}
<li class="dropdown">

<a href="#" class="dropdown-toggle" data-toggle="dropdown"> Groupes <span class="caret"></span></a>
<ul class="dropdown-menu">
    <li>
        <a href="#">Liste des groupes</a>
    </li>
    <li>
        <a href="#">Consulter un groupe</a>
    </li>
    <li>
        <a href="#">Ajouter un groupe</a>
    </li>
    <li>
        <a href="#">Modifier un groupe</a>
    </li>
    <li>
        <a href="#">Supprimer un groupe</a>
    </li>

</ul>
</li>
{% endblock %}


{% block body %}
    {{ parent() }}

    <h2>Profil du cycle</h2>

    <hr>

    {% if cycle.department is not null %}
        Département : {{cycle.department.name}} <br/> 
    {% else %}
        Département : Aucun (Probléme à signaler) <br/>
    {% endif %}

    {% if cycle.departmentOption is not null %}
        Option : {{cycle.departmentOption.name}} <br/> 
    {% else %}
        Option : Aucune
    {% endif %}
        
    Nom : {{cycle.name}} <br/>
    Description : {% if cycle.description is not null %} {{cycle.description}} {% else %} aucune {% endif %}<br/>

    Niveau(x): 
    {% if cycle.levels is not empty %}
        {% for level in cycle.levels %}
            {{level.name}} {% if not loop.last %}, {% endif %}

        {% endfor %}

    {% else %}
        aucune

    {% endif %}

    <br/>
    <br/>
    <a href="{{path('esp_schoolstructure_admin_cycle_viewAll')}}" class="btn btn-default">Retourner à la liste </a>    
    <a href="{{path('esp_schoolstructure_admin_cycle_update', {'id': cycle.id})}}" class="btn btn-warning">Modifier </a>
    <a href="{{path('esp_schoolstructure_admin_cycle_delete', {'id': cycle.id})}}" class="btn btn-danger">Supprimer </a>

{% endblock %}

